
<div  class="container">
     <div class="table-wrapper px-0 shadow">
        <div class="table-title title-fixed">
          <div class="row">
            <div class="col-sm-6">
              <div class="table-head ms-2">
                <div class="row">
                  <div *ngIf="action!='view'" class="col-1 cursor" (click)="cancelAdd()">
                    <i class="bi bi-arrow-left"></i>
                  </div>
                  <div *ngIf="action=='view'" class="col-1 cursor">
                  </div>
                  <div class="col-6 p-0">
                   Card
                  </div>
                </div>
                
                 </div>
            </div>
            <div *ngIf="action!='add'" class="col-sm-6">
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="btn btn-success addcss" (click)="addNew()">
                  <i class="bi bi-plus-square"></i><span>New Card</span>
                </a>
                <a><i class="bi bi-three-dots-vertical mt-1"></i></a>
              </div>
            </div>
          </div>
        </div>
           <div class="table-content title-content">
              <div *ngIf="action!='view'">  
           
           <div class="pt-0">
     
         <form  class="p-3" method="post" autocomplete="off" #frm="ngForm">  
         <div class="row mt-3">       
          <div class="row g-0 badge-bg mt-2">
            <div class="col-1 mt-1 left-badge"></div>
           <div class="ms-3 col-6 mt-2 badge-title">Card Details</div>
          </div>
     
           <div class="col-md-3">        
              <label class="fS14 mb-1"> Card Name
                  <span  class="mandatory-color">*</span>
                 </label>
              <div>
                <input autofocus type="text"  name="cardName" #cardName="ngModel"  required
                 [ngClass]="{'input-box-style2-error': cardName.invalid && (cardName.dirty || cardName.touched)}" 
                 class="form-control" placeholder="" [(ngModel)]="masterData.cardName" maxlength="10">
              </div>
           </div>
             
     
           <div class="col-md-8">        
              <label class="fS14 mb-1"> Data Length <span  class="mandatory-color">*</span> </label>
              <div>
                <input autofocus type="text"  name="cardDataLength" #cardDataLength="ngModel"  required numbersOnly
                 [ngClass]="{'input-box-style2-error': cardDataLength.invalid && (cardDataLength.dirty || cardDataLength.touched)}" 
                 class="form-control" placeholder="" [(ngModel)]="masterData.cardDataLength" maxlength="5">
              </div>
           </div>
  
           <div class="row g-0 badge-bg mt-2">
            <div class="col-1 mt-1 left-badge"></div>
            <div class="ms-3 col-6 mt-2 badge-title">Position Details</div>
          </div>
  
           <div class="row mt-3"> 
            
       
             <div class="col-md-3">        
                <label class="fS14 mb-1">Part No<span  class="mandatory-color">*</span></label>
                <div>
                  <input autofocus type="text"  name="partNoStart" #partNoStart="ngModel"  required  maxlength="5"
                   [ngClass]="{'input-box-style2-error': partNoStart.invalid && (partNoStart.dirty || partNoStart.touched)}" 
                   class="form-control" placeholder="" [(ngModel)]="masterData.partNoStart">
                </div>
             </div>
             <div class="col-md-3">        
                <label class="fS14 mb-1">Vendor<span  class="mandatory-color">*</span></label>
                <div>
                  <input autofocus type="text"  name="vendorStart" #vendorStart="ngModel"  required  maxlength="5"
                   [ngClass]="{'input-box-style2-error': vendorStart.invalid && (vendorStart.dirty || vendorStart.touched)}" 
                   class="form-control" placeholder="" [(ngModel)]="masterData.vendorStart">
                </div>
             </div>
             <div class="col-md-3">        
                <label class="fS14 mb-1">Location <span  class="mandatory-color">*</span></label>
                <div>
                  <input autofocus type="text"  name="userLocationStart" #userLocationStart="ngModel"  required  maxlength="5"
                   [ngClass]="{'input-box-style2-error': userLocationStart.invalid && (userLocationStart.dirty || userLocationStart.touched)}" 
                   class="form-control" placeholder="" [(ngModel)]="masterData.userLocationStart">
                </div>
             </div>
            
             <div class="col-md-3">        
                <label class="fS14 mb-1">Qty<span  class="mandatory-color">*</span></label>
                <div>
                  <input autofocus type="text"  name="qtyStart" #qtyStart="ngModel"  required  maxlength="5"
                   [ngClass]="{'input-box-style2-error': qtyStart.invalid && (qtyStart.dirty || qtyStart.touched)}" 
                   class="form-control" placeholder="" [(ngModel)]="masterData.qtyStart">
                </div>
             </div>
            
             <div class="col-md-3">        
                <label class="fS14 mb-1">Sl.No<span  class="mandatory-color">*</span></label>
                <div>
                  <input autofocus type="text"  name="slNoStart" #slNoStart="ngModel"  required  maxlength="5"
                   [ngClass]="{'input-box-style2-error': slNoStart.invalid && (slNoStart.dirty || slNoStart.touched)}" 
                   class="form-control" placeholder="" [(ngModel)]="masterData.slNoStart">
                </div>
             </div>
            
       
           </div>
      </div>
     </form>
      <div class="mt-4 me-4 d-flex justify-content-end">   
        <div class="row text-center mt-4">
         <div class="">
            <div class="form-group transback" >
             <button type="button"  class="btn btn-secondary footerbtncss mx-2" name="cancel" value="Cancel" (click)="cancelAdd()">Clear</button>
             <button type="button"   class="btn btn-primary footerbtncss" name="signin" (click)="updateCardMaster()">Submit</button>
          </div>
         </div>
        </div>
      </div>  
     </div>
  
  </div>
        <div *ngIf="action=='view'">
          <div class="p-4">
           <report creportid="58" #report (onEditClcked)="doAction($event)"   [events]="eventsSubject.asObservable()" [groupreport]="0"></report>
        </div>
        </div>
  </div>
  </div>
  </div>
  
     