.space-tableholder {
    min-height: 350px !important;
    height: calc(100vh - 180px) !important;
    overflow: auto;
}
.modal .modal-dialog.cell-large {
    max-width: 850px;
}
.color-pallet{
    width: 50px;
    height: 27px;
    border-radius: 3px;
    border: 1px solid #9d9a9a;
}
.zoomBox{
    transform:scale(1.3);
    transition: all 0.7s ease-in-out
}