.tablescrollcontent{
    /* width:1000px; */
    height: calc(100vh - 280px);
    overflow: scroll;
}
.modal .modal-dialog {
    max-width: 480px;
}
.color-pallet{
    width: 50px;
    height: 27px;
    border-radius: 3px;
    border: 1px solid #9d9a9a;
}
.zoomBox{
    transform:scale(1.3);
    transition: all 0.7s ease-in-out
}