

<div  class="container">
   <div class="table-wrapper px-0 shadow">
      <div class="table-title title-fixed">
        <div class="row">
          <div class="col-sm-6">
            <div class="table-head ms-2">
              <div class="row">
                <div *ngIf="action!='view'" class="col-1 cursor" (click)="cancelAdd()">
                  <i class="bi bi-arrow-left"></i>
                </div>
                <div *ngIf="action=='view'" class="col-1 cursor">
                </div>
                <div class="col-6 p-0">
                   Warehouse
                </div>
              </div>
              
               </div>
          </div>
          <div *ngIf="action=='view'" class="col-sm-6">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <a class="btn btn-success addcss" (click)="addNew()">
                <i class="bi bi-plus-square"></i><span>New Warehouse</span>
              </a>
              <a><i class="bi bi-three-dots-vertical mt-1"></i></a>
            </div>
          </div>
        </div>
      </div>
         <div class="table-content title-content">
            <div *ngIf="action!='view'">  
         
         <div class="pt-0">
   
          <form class="p-3" method="post" autocomplete="off" #frm="ngForm">  
            <div class="row g-0 badge-bg mt-2">
              <div class="col-1 mt-1 left-badge"></div>
             <div class="ms-3 col-6 mt-2 badge-title">Warehouse Details</div>
          </div>
            <div class="row mt-3">     
              <div class="col-md-3">
                <div class="fS14 mb-1" >Location<span  class="mandatory-color">*</span></div>      
                <ng-select [items]="location" #locationId name="locationId" [autofocus]="true" tabindex="1"
                    bindLabel="locationname" 
                    bindValue="locationid" 
                    placeholder="Select Location"
                    [(ngModel)]="masterData.locationId">
                </ng-select>
              </div>  
              <div class="col-md-6">        
                <label class="fS14 mb-1">Name<span  class="mandatory-color">*</span></label>
                <div>
                  <input autofocus type="text"  name="warehouseName" #warehouseName="ngModel"  required tabindex="1"
                   [ngClass]="{'input-box-style2-error': warehouseName.invalid && (warehouseName.dirty || warehouseName.touched)}" 
                   class="form-control" placeholder="" [(ngModel)]="masterData.warehouseName" maxlength="50">
                </div>
              </div>
              <div class="col-md-3">        
                <label class="fS14 mb-1">Short Code<span  class="mandatory-color">*</span></label>
                <div>
                <input autofocus type="text"  name="warehouseShortCode" #warehouseShortCode="ngModel"  required
                    [ngClass]="{'input-box-style2-error': warehouseShortCode.invalid && (warehouseShortCode.dirty || warehouseShortCode.touched)}" 
                    class="form-control" placeholder="" [(ngModel)]="masterData.warehouseShortCode" maxlength="3">
                </div>
              </div>
              
            </div>
            <div class="row g-0 badge-bg mt-2">
              <div class="col-1 mt-1 left-badge"></div>
              <div class="ms-3 col-6 mt-2 badge-title">Address Details</div>
            </div>
            <div class="row mt-3" >

              <div class="col-md-3">        
                <label class="fS14 mb-1"> Address <span  class="mandatory-color">*</span></label>
                <div>
                <input autofocus type="text"  name="address" #address="ngModel"  required
                [ngClass]="{'input-box-style2-error': address.invalid && (address.dirty || address.touched)}" 
                class="form-control" placeholder="" [(ngModel)]="masterData.address" maxlength="255">
              </div>
             </div>
             
             <div class="col-md-3">        
              <label class="fS14 mb-1"> City <span  class="mandatory-color">*</span></label>
              <div>
              <input autofocus type="text"  name="city" #city="ngModel"  required
              [ngClass]="{'input-box-style2-error': city.invalid && (city.dirty || city.touched)}" 
              class="form-control" placeholder="" [(ngModel)]="masterData.city" maxlength="50">
              </div>
            </div>
             <div class="col-md-3">        
               <label class="fS14 mb-1"> District <span  class="mandatory-color">*</span></label>
               <div>
               <input autofocus type="text"  name="district" #district="ngModel"  required
               [ngClass]="{'input-box-style2-error': district.invalid && (district.dirty || district.touched)}" 
               class="form-control" placeholder="" [(ngModel)]="masterData.district" maxlength="50">
               </div>
           </div>
           <div class="col-md-3">        
             <label class="fS14 mb-1"> State <span  class="mandatory-color">*</span></label>
             <div>
             <input autofocus type="text"  name="state" #state="ngModel"  required
             [ngClass]="{'input-box-style2-error': state.invalid && (state.dirty || state.touched)}" 
             class="form-control" placeholder="" [(ngModel)]="masterData.state" maxlength="50">
             </div>
           </div>
              
             
            </div>
            <div class="row g-0 badge-bg mt-2">
              <div class="col-1 mt-1 left-badge"></div>
              <div class="ms-3 col-6 mt-2 badge-title">Contact Details</div>
            </div>
          <div class="row mt-3">
              <div class="col-md-3">        
                <label class="fS14 mb-1"> Phone <span  class="mandatory-color">*</span></label>
                <div>
                <input autofocus type="text"  name="phone" #phone="ngModel"  required
                [ngClass]="{'input-box-style2-error': phone.invalid && (phone.dirty || phone.touched)}" 
                class="form-control" placeholder="" [(ngModel)]="masterData.phone" maxlength="20">
                </div>
              </div>
              <div class="col-md-3">        
                  <label class="fS14 mb-1"> Mobile <span  class="mandatory-color">*</span></label>
                  <div>
                  <input autofocus type="text"  name="mobile" #mobile="ngModel"  required numberOnly
                  [ngClass]="{'input-box-style2-error': mobile.invalid && (mobile.dirty || mobile.touched)}" 
                  class="form-control" placeholder="" [(ngModel)]="masterData.mobile" maxlength="10">
                  </div>
              </div>
              <div class="col-md-3">        
                  <label class="fS14 mb-1"> Email <span  class="mandatory-color">*</span></label>
                  <div>
                  <input autofocus type="text"  name="email" #email="ngModel"  required
                  [ngClass]="{'input-box-style2-error': email.invalid && (email.dirty || email.touched)}" 
                  class="form-control" placeholder="" [(ngModel)]="masterData.email" maxlength="255">
                </div>
              </div>
          </div>
          <div class="row g-0 badge-bg mt-2">
            <div class="col-1 mt-1 left-badge"></div>
            <div class="ms-3 col-6 mt-2 badge-title">Other Details</div>
          </div>
          <div class="row mt-3">
            <div class="col-md-3">        
                <label class="fS14 mb-1"> GST <span  class="mandatory-color">*</span></label>
                <div>
                <input autofocus type="text"  name="gstin" #gstin="ngModel"  required
                [ngClass]="{'input-box-style2-error': gstin.invalid && (gstin.dirty || gstin.touched)}" 
                class="form-control" placeholder="" [(ngModel)]="masterData.gstin" maxlength="15">
                </div>
            </div>
            <div class="col-md-3">        
                <label class="fS14 mb-1">Latitute <span  class="mandatory-color">*</span></label>
                <div>
                <input autofocus type="text"  name="latitute" #latitute="ngModel"  required
                [ngClass]="{'input-box-style2-error': latitute.invalid && (latitute.dirty || latitute.touched)}" 
                class="form-control" placeholder="" [(ngModel)]="masterData.latitute" maxlength="15">
                </div>
            </div>
            <div class="col-md-3">        
                <label class="fS14 mb-1">Longitude <span  class="mandatory-color">*</span></label>
                <div>
                <input autofocus type="text"  name="longitude" #longitude="ngModel"  required
                [ngClass]="{'input-box-style2-error': longitude.invalid && (longitude.dirty || longitude.touched)}" 
                class="form-control" placeholder="" [(ngModel)]="masterData.longitude" maxlength="15">
                </div>
            </div>
          <div class="col-md-3">
            <label class="fS14 mb-1">Active<span  class="mandatory-color">*</span></label>
            <select  class="form-control form-select" name="active" 
                #active="ngModel"  required [ngClass]="{'input-box-style2-error': active.invalid && (active.dirty || active.touched)}"  
                [(ngModel)]="masterData.active" >
                <option  value="true">Active</option>
                <option  value="false">InActive</option>
              </select>
          </div>    
        </div>
        </form>
    <div class="mt-4 me-4 d-flex justify-content-end">   
      <div class="row text-center mt-4">
       <div class="">
          <div class="form-group transback">
           <button type="button"  class="btn btn-secondary footerbtncss mx-2" name="cancel" value="Cancel" (click)="cancelAdd()">Clear</button>
           <button type="button"   class="btn btn-primary footerbtncss" name="signin" (click)="updateWarehouse()">Submit</button>
        </div>
       </div>
      </div>
    </div>  
   </div>

</div>
      <div *ngIf="action=='view'">
        <div class="p-4">
         <report creportid="33" #report (onEditClcked)="doAction($event)"   [events]="eventsSubject.asObservable()" [groupreport]="0"></report>
      </div>
      </div>
</div>
</div>
</div>

   

